################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stenoe/packages
/Api/Api/bin
/Api/Api/obj/Debug
/Api/Api/obj/Release
/Api/packages
