################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bodaSteNoe/node_modules
/bodaSteNoe/bower_components
/Api/Api/bin
/Api/Api/obj
/Api/packages
