<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Wedding Blog</h1>
					</div>
				</div>

				<div class="row">
					<!-- BEGIN BLOG MAIN CONTENT -->
					<div class="col-sm-8">
						<!-- BEGIN BLOG LISTING -->
						<div class="blog-listing clearfix">
							<div class="row">
								<div class="item col-md-6">
									<!-- BEGIN BLOG ITEM -->
									<div class="image">
										<a href="blog-single.html">
											<span class="btn btn-default2 btn-small"><i class="fa fa-file-o"></i> Read More</span>
										</a>
										<img src="http://placehold.it/750x580" alt="" />
									</div>
									<div class="date">
										<div class="ribbon">23 Aug</div>
									</div>
									<div class="info-blog">
										<h3>
											<a href="blog-single.html">5 ways to have a beautiful wedding</a>
										</h3>
										<p>When you consider that the average wedding costs over $20,000, you may be thinking that there’s no way you can
											afford the day of your dreams.</p>
										<ul class="bottom-info">
											<li><i class="fa fa-calendar"></i> August 23, 2015</li>
											<li><i class="fa fa-comments-o"></i> 3</li>
											<li><i class="fa fa-tags"></i> Wedding, Ideas, Tips</li>
										</ul>
									</div>
								</div>
								<!-- END BLOG ITEM -->

								<div class="item col-md-6">
									<!-- BEGIN BLOG ITEM -->
									<div class="image">
										<a href="blog-single.html">
											<span class="btn btn-default2 btn-small"><i class="fa fa-file-o"></i> Read More</span>
										</a>
										<img src="http://placehold.it/750x580" alt="" />
									</div>
									<div class="date">
										<div class="ribbon">17 Aug</div>
									</div>
									<div class="info-blog">
										<h3>
											<a href="blog-single.html">DIY: A Garden Rose Bouquet</a>
										</h3>
										<p>If you've always dreamt of carrying a bouquet of old fashioned garden roses down the aisle, but your budget doesn't
											quite match up to the dream, try this!</p>
										<ul class="bottom-info">
											<li><i class="fa fa-calendar"></i> August 17, 2015</li>
											<li><i class="fa fa-comments-o"></i> 2</li>
											<li><i class="fa fa-tags"></i> Bouquet, Flowers</li>
										</ul>
									</div>
								</div>
								<!-- END BLOG ITEM -->
							</div>

							<div class="row">
								<div class="item col-md-6">
									<!-- BEGIN BLOG ITEM -->
									<div class="image">
										<a href="blog-single.html">
											<span class="btn btn-default2 btn-small"><i class="fa fa-file-o"></i> Read More</span>
										</a>
										<img src="http://placehold.it/750x580" alt="" />
									</div>
									<div class="date">
										<div class="ribbon">30 Jul</div>
									</div>
									<div class="info-blog">
										<h3>
											<a href="blog-single.html">Wedding Cakes: What's Trending?</a>
										</h3>
										<p>Find out what's hot in wedding cakes this year;<br>we've asked a few of our favorite cake designers<br>to weigh
											in!
										</p>
										<ul class="bottom-info">
											<li><i class="fa fa-calendar"></i> July 30, 2015</li>
											<li><i class="fa fa-comments-o"></i> 1</li>
											<li><i class="fa fa-tags"></i> Wedding, Cake, Trends</li>
										</ul>
									</div>
								</div>
								<!-- END BLOG ITEM -->

								<div class="item col-md-6">
									<!-- BEGIN BLOG ITEM -->
									<div class="image">
										<a href="blog-single.html">
											<span class="btn btn-default2 btn-small"><i class="fa fa-file-o"></i> Read More</span>
										</a>
										<img src="http://placehold.it/750x580" alt="" />
									</div>
									<div class="date">
										<div class="ribbon">26 Jul</div>
									</div>
									<div class="info-blog">
										<h3>
											<a href="blog-single.html">Destinations for our honeymoon</a>
										</h3>
										<p>Looking for a gorgeous, exotic place for your destination wedding? There are about a million reasons why Huatulco,
											Mexico is the perfect spot...</p>
										<ul class="bottom-info">
											<li><i class="fa fa-calendar"></i> July 26, 2015</li>
											<li><i class="fa fa-comments-o"></i> 2</li>
											<li><i class="fa fa-tags"></i> Honeymoon, vacations</li>
										</ul>
									</div>
								</div>
								<!-- END BLOG ITEM -->
							</div>
						</div>
						<!-- END BLOG LISTING -->

						<!-- BEGIN PAGINATION -->
						<div class="pagination">
							<ul id="previous">
								<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
							</ul>
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
							</ul>
							<ul id="next">
								<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
							</ul>
						</div>
						<!-- END PAGINATION -->
					</div>
					<!-- END BLOG MAIN CONTENT -->


					<!-- BEGIN SIDEBAR -->
					<div class="sidebar col-sm-4">
						<h2 class="section-title">Categories</h2>
						<ul class="categories">
							<li><a href="#">Wedding <span>(4)</span></a></li>
							<li><a href="#">Honeymoon <span>(2)</span></a></li>
							<li><a href="#">Ideas <span>(5)</span></a></li>
							<li><a href="#">DIY <span>(1)</span></a></li>
							<li><a href="#">Center pieces <span>(2)</span></a></li>
							<li><a href="#">Bouquet <span>(1)</span></a></li>
							<li><a href="#">Wedding Dresses <span>(3)</span></a></li>
						</ul>

						<!-- BEGIN ARCHIVES ACCORDION -->
						<h2 class="section-title">Archives</h2>
						<div id="accordion" class="panel-group blog-accordion">
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
											<i class="fa fa-chevron-right"></i> 2015 (10)
										</a>
									</div>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<ul>
											<li><a href="#">July (3)</a></li>
											<li><a href="#">June (4)</a></li>
											<li><a href="#">May (1)</a></li>
											<li><a href="#">April (2)</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
											<i class="fa fa-chevron-right"></i> 2014 (8)
										</a>
									</div>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">May (1)</a></li>
											<li><a href="#">April (3)</a></li>
											<li><a href="#">March (1)</a></li>
											<li><a href="#">February (2)</a></li>
											<li><a href="#">January (1)</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading">
									<div class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
											<i class="fa fa-chevron-right"></i> 2013 (5)
										</a>
									</div>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">April (1)</a></li>
											<li><a href="#">March (1)</a></li>
											<li><a href="#">February (2)</a></li>
											<li><a href="#">January (1)</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- END  ARCHIVES ACCORDION -->

						<!-- BEGIN TAGS -->
						<h2 class="section-title">Tags</h2>
						<ul class="tags col-sm-12">
							<li><a href="#">Wedding</a></li>
							<li><a href="#">Bride</a></li>
							<li><a href="#">Groom</a></li>
							<li><a href="#">marriage</a></li>
							<li><a href="#">Bouquets</a></li>
							<li><a href="#">One-page</a></li>
							<li><a href="#">Responsive</a></li>
							<li><a href="#">Template</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">Css3</a></li>
						</ul>
						<!-- END TAGS -->
					</div>
					<!-- END SIDEBAR -->
				</div>
			</div>