<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="section-title" translate>Wedding Gifts</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<ul class="Gifts clearfix">
				<li id="gift-list" data-animation-direction="from-left" data-animation-delay="250">
					<i class="fa fa-gift"></i><br>
					<h3 translate>GiftSquare1</h3>
					<h3 translate>GiftSquare2</h3>
				</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<p style="font-size:1.2em;" translate>GiftDescription</p>
			<div class="row">
				<div class="col-sm-2">
					<h3 style="font-size:2em" translate>Name:</h3>
				</div>
				<div class="col-sm-10">
					<h2 style="font-size: 2em;color:#73777b">Stefano D'Amico</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<h3 style="font-size:2em">IBAN:</h3>
				</div>
				<div class="col-sm-10">
					<h2 style="font-size: 2em;color:#73777b">ES80 0239 2017 3400 2086 9525</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<h3 style="font-size:2em">SWIFT/BIC:</h3>
				</div>
				<div class="col-sm-10">
					<h2 style="font-size: 2em;color:#73777b">EVOBESMMXXX</h2>
				</div>
			</div>
		</div>
		<div class="col-sm-1" />
	</div>
</div>