<section id="music" class="bg-color pattern">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Scegli una canzone per gli sposi</h1>
						<h1 class="section-title">Elige una cancion para los novios</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 center">

						<form id="form-music" method="post" action="#">
							<div class="form-wrap">
								<section class="highlighted">
									<div class="col-sm-6">
										<input type="text" name="Name" placeholder="IL TUO NOME / TU NOMBRE" class="form-control required fromName" />
									</div>
								</section>
								<section>
									<div class="col-md-8">
										<input type="text" name="songTitle" id="songTitle" placeholder="TITULO CANCION / TITOLO CANZONE" class="form-control" />
									</div>
									<div class="col-md-4">
										<button id="add_guest" class="btn btn-color add_button" data-input="guest" data-wrapper="guest_list">+ Add</button>
									</div>
									<div id="guest_list" class="add_list col-md-12" data-count="0">

									</div>
								</section>
							</div>
							<div class="center">
								<button type="submit" class="btn ribbon btn-color submit_form"><span class="line_above"></span><i class="icon icon-arrow-right"></i>Invia / Enviar<i class="icon icon-arrow-left"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>